/* Scale all figures */
.quarto-figure img,
.quarto-figure svg {
  max-width: 75%;
}

/* Center figure captions */
figure figcaption {
  text-align: center;
}

/* Color every other row in tables */
table tr:nth-child(even) {
  background-color: #f0ffff;
}
